
.DS_Store
Perl/nytprof.out
Perl/nytprof/
Perl/.DS_Store
*.swp
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Swift/AoC 2018/AoC 2018.xcodeproj/project.xcworkspace/xcuserdata/sbiickert.xcuserdatad/UserInterfaceState.xcuserstate
Swift/AoC 2018/AoC 2018.xcodeproj/project.xcworkspace/xcuserdata/sbiickert.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
